<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<noscript><strong class="noscript">We're sorry but site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
<div class="preload"><img src="load.svg"></div> 
<div id="app" v-cloak> 
  <div class="container"> 
  <transition name="fade" mode="out-in">
    <div id="start" v-if="show === 'start'" key="start">
      <img src="img/StartGame@2x.png">
      <h1>Memory Game</h1>
      <button v-on:click="startGame">Начать игру</button>
    </div><!-- end start -->

    <div id="main" v-if="show === 'game'" key="game" v-bind:class="{ wait: isNoClick }">
      <div class="menu">      
        <div class="anew">
          <a href="javascript:void(0)" v-on:click.self="anew">Начать заново</a>
        </div>
        <div class="points">
          Очки: {{ points }}
        </div>
      </div>
      <div class="game">
        <div v-for="(card, index) in cards" class="card" v-bind:class="{ removed: card.remove }">
          <img class="card-image" v-on:click.self="open(index, card.number)" v-bind:src="card.image" onload="imgLoad()">
        </div>
      </div>
    </div><!-- end main -->

    <div v-if="show === 'finish'" id="finish" key="finish">
      <img src="img/Group 2@2x.png">
      <p>Поздравляем!<br>
      Ваш итоговый счёт: {{ app.points }} </p>
      <button v-on:click.self="startGame">Ещё раз</button>
    </div><!-- end finish -->

</div><!-- end container -->
  </transition>
  </div><!-- end app -->


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/script.js"></script>
</body>
</html>
