<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div v-if="show" id="start">
    <img src="Design/assets/StartGame@2x.png">
    <h1>Memory Game</h1>
    <button v-on:click="startGame">Начать игру</button>
  </div>
  <div v-if="show" id="app" v-bind:class="{ wait: isNoClick }">
    <div class="menu">      
      <div class="anew">
        <a href="#" v-on:click.self="anew">Начать заново</a>
      </div>
      <div class="points">
        Очки: {{ points }}
      </div>
    </div>
    <div class="game">
      <div v-for="(card, index) in cards" class="card" v-bind:class="{ removed: card.remove }">
    	 <img v-on:click.self="open(index, card.number)" v-bind:src="card.image">
      </div>
    </div>
  </div>

  <div v-if="show" id="finish">
    <img src="Design/assets/Group 2@2x.png">
    <p>Поздравляем!<br>
    Ваш итоговый счёт: {{ app.points }} </p>
    <button v-on:click.self="startGame">Ещё раз</button>
  </div>
</div>


<script src="vue.js"></script>
<script src="script.js"></script>
</body>
</html>